body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: var(--dgrey);
    font-family: 'Montserrat';
}

:root {
    --bgrey: #F7F6FF;
    --navgrey: #C4C4C4;
    --dgrey:#EBEEF5;
    --text1: #02577A;
    --white: #FFF;
}