body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 1440px;
    margin-left: calc(50% - 720px);
    display: inline-block;
    height: 100vh;
    position: relative;
}

:root {
    --bgrey: #F7F6FF;
    --navgrey: #C4C4C4;
    --dgrey:#EBEEF5;
    --text1: #02577A;
}