.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 906px;
    box-shadow: 5px 0px 5px -5px;
    background-color: var(--bgrey);
    transition: 0.5s ease-out;
}

.sidebar:hover {
    width: 206px;
}

.logo {
    width: 68px;
    margin-top: 52px;
    margin-left: calc(50% - 34px);
}

.hline {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 62%;
    margin-left: calc(50% - 62%/2);
    border: 1px solid var(--navgrey);
}

.nav-row {
    position: relative;
    display: inline-block;
    margin: 11px 0 0 11px;
    width: calc(100% - 11px);
    height: 57px;
    border-radius: 25px 0 0 25px;
}

.nav-row:hover {
    background-color: #fff;
}

.nav-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: calc(50% - 25px / 2);
    left: 32px;
}

.nav-row:hover > .nav-icon {
    filter: invert(100%) sepia(85%) saturate(1637%) hue-rotate(173deg) brightness(92%) contrast(98%);
}

.nav-txt {
    position: absolute;
    
    width: auto;
    height: 20px;
    top: calc(50% - 19px / 2);
    left: 76px;
    font-size: 0px;
    text-decoration: none;
    color: var(--navgrey);
    transition: all ,.3s ease-in-out, .3s ease-in-out;
}

.sidebar:hover * > .nav-txt {
    font-size: 16px;
    display: inline-block;
}

.nav-row:hover > .nav-txt {
    color: var(--text1);
}

main {
    height: 906px;
    width: 1440px;
    background-color: var(--dgrey);
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(547px, 871px);
    width: 346px;
    height: 35px;
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
    color: var(--text1);
    border-top: 1px solid var(--text1);
}

.morning {
    position: absolute;
    width: 380px;
    height: 80px;
    margin: 89px 0 0 206px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.border {
    position: absolute;
    width: 516px;
    height: 147px;
    border-radius: 25px;
    background-color: var(--white);
    padding: 22px 96px;
    top: 0;
    left: 0px;
    transform: translate(857px, 56px);
}

.date {
    width: 324px;
    height: 103px;
}

.time-1 {
    font-size: 36px;
    font-weight: 500;
    color: var(--text1);
}

.time-2 {
    font-size: 24px;
    font-weight: 500;
}

.img-work {
    left: 103px;
    top: 226px;
    margin-top: 226px;
    margin-left: 95px;
}

.border-2 {
    position: absolute;
    width: 898px;
    height: 121px;
    border: 2px solid var(--text1);
    border-radius: 25px;
    padding: 49px 185px;
    top: 0;
    left: 0;
    transform: translate(271px, 707px);
}

