.sidebar {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100vh;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--bgrey);
    transition: 0.5s ease-out;
}

.sidebar:hover {
    width: 206px;
}

.logo {
    width: 68px;
    margin-top: 52px;
    margin-left: calc(50% - 34px);
}

.hline {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 62%;
    margin-left: calc(50% - 62%/2);
    border: 1px solid var(--navgrey);
}

.nav-row {
    position: relative;
    display: inline-block;
    margin: 11px 0 0 11px;
    width: calc(100% - 11px);
    height: 57px;
    border-radius: 25px 0 0 25px;
}

.nav-row:hover {
    background-color: #fff;
}

.nav-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: calc(50% - 25px / 2);
    left: 32px;
}

.nav-row:hover > .nav-icon {
    filter: invert(100%) sepia(85%) saturate(1637%) hue-rotate(173deg) brightness(92%) contrast(98%);
}

.nav-txt {
    position: absolute;
    
    width: auto;
    height: 20px;
    top: calc(50% - 19px / 2);
    left: 76px;
    font-size: 0px;
    text-decoration: none;
    color: var(--navgrey);
    transition: all ,.3s ease-in-out, .3s ease-in-out;
}

.sidebar:hover * > .nav-txt {
    font-size: 16px;
    display: inline-block;
}

.nav-row:hover > .nav-txt {
    color: var(--text1);
}

main {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: 100px;
    background-color: var(--dgrey);
}

.morning {
    float: left;
    margin-top: 89px;
    margin-left: 206px;
}

h1 {
    padding-top: 59px;
    padding-left: 100px;
    float: left;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

.date {
    float: right;
    margin-top: 56px;
    margin-right: 67px;
    border-radius: 25px;
    background-color: var(--white);
    padding: 22px 96px;
    height: 147px;
}

.time-1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--text1);
}

.time-2 {
    font-size: 24px;
    font-weight: bold;
}

.img {
    background-image: url(../assets/workplace.png);
    background-position: center;
    background-size: cover;
    margin-top: 226px;
    max-width: 100vw;
    width: 100%;
    height: 432px;
}

.quote {
    display: inline-block;
    margin: 49px 25px 78px 125px;
    border: 2px solid var(--text1);
    border-radius: 25px;
    padding: 49px 185px;
}

footer {
    margin-top: 43px;
    width: 100%;
    text-align: center;
    padding: 11px 81px;
    font-size: 11px;
    line-height: 13px;
}

.line {
    border-top: 1px solid var(--text1);
    display: inline-block;
    padding: 10px 99px;
}

@media (max-width: 1070px) {
    .morning {
        margin-left: 141px;
        margin-top: 33px;
        margin-bottom: 13px;
    }
    .date {
        margin-left: 125px;
        margin-right: 25px;
        margin-top: 44px;
        height: 147px;
        padding: 20px;
    }
    .img {
        margin-top: 317px;
        max-height: 283px;
    }
    .quote {
        display: inline-block;
        margin-top: 26px;
        border: 2px solid var(--text1);
        border-radius: 25px;
        padding: 40px 64px;
    }
    .line {
        margin-left: 125px;
        margin-right: 25px;
    }
}
